<div>
　<div>
    <%= render 'users/users', user: @user %>
    <h2>New book</h2>
　</div>
  <div>
  <%= form_with model:@user  do |f| %>
    <h2>New book</h2>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Opinion</h4>
    <%= f.text_field :body %>
    <nav><%= f.submit 'Create Book' %></nav>
    <% end %>
  </div>

  <div>
    <h2>Users</h2>
    <table class='table'>
    <% @users.each do |user| %>
    <tr>
    <td><%= attachment_image_tag user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg",size:'20x20',format: 'no_image.jpg' %></td>
   <th><%= user.name %><th>
   <th><%= link_to"Show",user_path(user.id) %></th>
   </tr>
   <% end %>
   </table>
  </div>

  </div>